<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Predictor</title>

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
           Heart Stroke Predictor 
        </div>
        <ul>
           <li><a href="">Home</a></li>
           <li><a href="">About</a></li>
           <li><a href="">Contact Us</a></li>
        </ul>
     </nav>
    <div class="main-wrapper">
        <form method="POST" action="" class="main-form">
            <div class="form-element">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" min=0 required>
            </div>
    
            <fieldset class="form-element">
                <legend>Do you suffer from hypertension?</legend>
                <div class="fieldset-element">
                    <input type="radio" name="hypertension" id="hypertension_no" value="0" checked>
                    <label for="hypertension_no">No</label>
                </div>
                <div class="fieldset-element">
                    <input type="radio" name="hypertension" id="hypertension_yes" value="1">
                    <label for="hypertension_yes">Yes</label>
                </div>
            </fieldset>
    
            <fieldset class="form-element">
                <legend>Are you diagnosed with any heart disease?</legend>
                <div class="fieldset-element">
                    <input type="radio" name="heart_disease" id="heart_disease_no" value="0" checked>
                    <label for="heart_disease_no">No</label>
                </div>
                <div class="fieldset-element">
                    <input type="radio" name="heart_disease" id="heart_disease_yes" value="1">
                    <label for="heart_disease_yes">Yes</label>
                </div>
            </fieldset>
    
            <div class="form-element">
                <label for="avg_glucose_level">Glucose level(mg/dL):</label>
                <input type="number" name="avg_glucose_level" step="any" id="avg_glucose_level" min=0 required>
            </div>
    
            <div class="form-element">
                <label for="height">Height(in cms):</label>
                <input type="number" name="height" step="any" id="height" min=0 required>
            </div>
    
            <div class="form-element">
                <label for="weight">Weight(in kgs):</label>
                <input type="number" name="weight" step="any" id="weight" min=0 required>
            </div>
    
            <div class="form-element">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                </select>
            </div>
    
            <fieldset class="form-element">
                <legend>Are you married or have ever been married?</legend>
                <div class="fieldset-element">
                    <input type="radio" name="ever_married" id="ever_married_no" value="No" checked>
                    <label for="ever_married_no">No</label>
                </div>
                <div class="fieldset-element">
                    <input type="radio" name="ever_married" id="ever_married_yes" value="Yes">
                    <label for="ever_married_yes">Yes</label>
                </div>
            </fieldset>
    
            <div class="form-element">
                <label for="work_type">Work type:</label>
                <select name="work_type" id="work_type">
                    <option value="Govt_job">Government employee</option>
                    <option value="Never_worked">Never been employed</option>
                    <option value="Private">Private employee</option>
                    <option value="Self-employed">Self employed</option>
                    <option value="children">Child</option>
                </select>
            </div>
    
            <div class="form-element">
                <label for="Residence_type">Residence type:</label>
                <select name="Residence_type" id="Residence_type">
                    <option value="Rural">Rural</option>
                    <option value="Urban">Urban</option>
                </select>
            </div>
    
            <div class="form-element">
                <label for="smoking_status">Smoking Status:</label>
                <select name="smoking_status" id="smoking_status">
                    <option value="formerly_smoked">Formerly smoked</option>
                    <option value="never_smoked">Never smoked</option>
                    <option value="smokes">Smokes</option>
                </select>
            </div>
    
            <input type="submit" value="submit" class="submit-button">
        </form>

        <p class="display-result">{{ result }}</p>

    </div>
</body>
</html>